html {
    font-size: 100%;
}

body {
    width: 100%;
    margin: 0;
    background: white;
    text-align: center;
    top: 0;
    font-family: 'Dosis', Helvetica, sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 120%;
}

.container {
    margin-top: 2px;
    margin-bottom: 2px;
    background: #eaeaea;
    padding: 5px;
}

input, button, button:active, input:active {
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 5px;
    margin: 10px;
}

button {
    font-weight: bold;
    color: #ddd;
    background: #777;
    border-radius: 4px;
    cursor: pointer;
}

*:focus {
    outline: none;
}

button:focus, button:active, button:hover {
    color: white;
}

.pick-list button {
    margin: 2px;
    border-radius: 2px;
    /* background: white; */
}

.page-lower {
    position: sticky;
    bottom: 0;
    margin: 0;
    width: 100%;
    background: white;
}

nav {
    position: sticky;
    top: 0;
    margin: 0;
    color: white;
    text-align: left;
    background: #777;
}

nav li {
    display: inline-block;
    margin: 4px;
    margin-right: 10px;
}

nav li a {
    color: #ddd;
}

nav li a:hover, nav li a:active {
    color: white;
    font-weight: bold;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.nav-title {
    font-size: 110%;
    color: white;
}

.active {
    background: black;
    color: white;
}

.auth-form {
    margin: 20px;
}

.auth-form input, .auth-form button {
    width: 150px;
    /* text-align: center; */
}

.search-field {
    background: white;
}

@media(min-width:60em) {
    html {
        font-size: 120%;
    }
}
