html {
    font-size: 100%;
}

body {
    width: 100%;
    margin: 0;
    background: white;
    text-align: center;
    top: 0;
    font-family: 'Dosis', Helvetica, sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 120%;
}

.container {
    margin-top: 2px;
    margin-bottom: 2px;
    background: #eaeaea;
    padding: 5px;
}

input, button, button:active, input:active {
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 5px;
    margin: 10px;
}

button {
    font-weight: bold;
    color: #ddd;
    background: #777;
    border-radius: 4px;
    cursor: pointer;
}

*:focus {
    outline: none;
}

button:focus, button:active, button:hover {
    color: white;
}

.pick-list button {
    margin: 2px;
    border-radius: 2px;
    background: white;
    color: #999;
}

.vote-nums button {
    width: 30px;
    height: 30px;
}

.page-lower {
    position: sticky;
    bottom: 0;
    margin: 0;
    width: 100%;
    background: white;
}

nav {
    position: sticky;
    top: 0;
    margin: 0;
    color: white;
    text-align: left;
    background: #777;
}

nav li {
    display: inline-block;
    margin: 4px;
    margin-right: 10px;
}

nav li a {
    color: #ddd;
}

nav li a:hover, nav li a:active {
    color: white;
    font-weight: bold;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.nav-title {
    font-size: 110%;
    color: white;
}

#country-list {
    font-weight: bold;
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.country-list-container {
    background: white;
}

#country-list td {
    padding: 4px;
    background: #888;
    color: white;
    border: 2px solid white;
}

#country-list tr:hover td {
    background: #aaa;
}

#country-list td.active, button.active {
    background: black;
    color: white;
}

.auth-form {
    margin: 20px;
}

.auth-form input, .auth-form button {
    width: 150px;
}

@media(min-width:60em) {
    html {
        font-size: 100%;
    }

    .container, .page-lower, #country-list-container {
        bottom: auto;
        display: inline-block;
        width: auto;
        background: white;
        text-align: left;
    }

    nav {
        position: fixed;
        width: 100%;
    }

    #country-list {
        margin-top: 75px;
    }

    .page-lower {
        position: fixed;
        top: 75px;
        left: 35%;
        width: 50%;
    }

    #country-list {
        width: 30%;
    }
}
