<!doctype html>

<html lang='en'>
<head>
    <meta charset='utf-8'>

    <title>Eurohome</title>

    <link rel='stylesheet' href='/static/css/styles.css'>

    <!--[if lt IE 9]>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'>
        </script>
    <![endif]-->
    <script src='/static/js/vendor/vue.js'></script>

</head>

<body>
    <div id='app' v-cloak>
        <nav>
            <a href='/login' v-if='!logged_in'>login</a>
            <a href='/register' v-if='!logged_in'>register</a>

            <span v-if='logged_in'>hello {{ name }}</span>
            <a href='/api/logout' v-if='logged_in' @click='logout'>logout</a>
        </nav>

        {% raw %}
        <table>
            <tr v-for='user in users'>
                <td>{{ user.name }}</td>
            </tr>
        </table>
        <table>
            <tr v-for='item in ladder'>
                <td>{{ item.country }}</td>
                <td>{{ item.score }}</td>
            </tr>
        </table>
        {% endraw %}
    </div>
    <script type='text/javascript'>
        window.logged_in = {{ 'true' if name else 'false' }}
    </script>
    <script src='/static/js/main.js'></script>
</body>
</html>
