<!doctype html>

<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Eurohome</title>

    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link rel='stylesheet' href='/static/css/styles.css'>

    <!--[if lt IE 9]>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'>
        </script>
    <![endif]-->
    <script src='/static/js/vendor/vue.js'></script>

</head>

<body>
    <div id='app' v-cloak>

        <nav>
            <ul class='navbar'>
                <li class='nav-title'>EUROHOME</li>
                <li v-if='logged_in'>
                    <span>
                        {{ 'hello ' + name if name else '' }}
                    </span>
                </li>
                <li v-if='logged_in'>
                    <a href='/api/logout'>logout</a>
                </li>

                <li v-if='!logged_in'>
                    <a href='/login'>login</a>
                </li>
                <li v-if='!logged_in'>
                    <a href='/register'>register</a>
                </li>
            </ul>
        </nav>

        {% raw %}
        <div class='container country-list-container'>
            <table id='country-list'>
                <tr v-for='item in filtered_ladder()'
                    @click='set_country(item.country)'>
                    <td v-bind:class='{active: item.country === voting_for}'>
                        {{ item.country.toUpperCase() }}
                    </td>
                    <td v-bind:class='{active: item.country === voting_for}'>
                        {{ item.score }}
                    </td>
                </tr>
            </table>
        </div>

        <div class='page-lower'>

            <div v-if='logged_in && viewing_user !== null'>
                <h3>
                    voted by {{ viewing_user }}
                </h3>
                <button @click='viewing_user = null; update()'>
                    clear
                </button>
            </div>

            <div class='search-field'>
                <input v-model='search_str'
                    placeholder='search countries...'
                    @keydown.27='search_str = ""'
                    @focus='search_focus = true'
                    @blur='search_focus = false'>
                <button @click='search_str = ""' v-if='search_str !== ""'>
                    clear
                </button>
            </div>

            <div class='container'
                v-if='logged_in && !search_focus && voting_for !== null'>
                <div>voting for {{ voting_for.toUpperCase() }}</div>
                <div class='pick-list vote-nums'>
                    <button v-for='v in votes_allowed'
                        @click='vote(voting_for, v)'
                        v-bind:class='{active: v === own_votes[voting_for]}'>
                        {{ v }}
                    </button>
                </div>
                <div>
                    <button @click='voting_for = null; update()'>
                        cancel
                    </button>
                </div>
            </div>

            <div class='container' v-if='logged_in && !search_focus'>
                <input type='checkbox' name='view-users'
                    v-model='userlist_open' style='display:none;'>
                <label for='view-users'>
                    <button @click='userlist_open = !userlist_open'
                        v-bind:class='{active: userlist_open}'>
                        view users
                    </button>
                </label>
                <div class='pick-list' v-if='userlist_open'>
                    <button v-for='user in users'
                        @click='set_user(user.name)'
                        v-bind:class='{active: user.name === viewing_user}'>
                        {{ user.name }}
                    </button>
                </div>
            </div>

        </div>


        {% endraw %}

    </div>
    <script type='text/javascript'>
        window.logged_in = {{ 'true' if name else 'false' }}
        window.own_votes = {{ votes|safe }}
    </script>
    <script src='/static/js/vendor/fuzzysort.js'></script>
    <script src='/static/js/main.js'></script>
</body>
</html>
