<!doctype html>

<html lang='en'>
<head>
    <meta charset='utf-8'>

    <title>Eurohome</title>

    <link rel='stylesheet' href='/static/css/styles.css'>

    <!--[if lt IE 9]>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'>
        </script>
    <![endif]-->
    <script src='/static/js/vendor/vue.js'></script>

</head>

<body>
    <div id='app' v-cloak>
        <nav>
            <span v-if='logged_in'>
                {{ name if name else '' }}
            </span>
            <a href='/api/logout' v-if='logged_in'>logout</a>

            <a href='/login' v-if='!logged_in'>login</a>
            <a href='/register' v-if='!logged_in'>register</a>
        </nav>

        {% raw %}
        <div class='container' v-if='logged_in'>
            <div>registered users</div>
            <ul>
                <li v-for='user in users' @click='set_user(user.name)'>
                    {{ user.name }}
                </li>
            </ul>
        </div>

        <div class='container' v-if='logged_in && voting_for !== null'>
            <div>voting for {{ voting_for.toUpperCase() }}</div>
            <div id='vote-nums'>
                <span v-for='v in votes_allowed' @click='vote(voting_for, v)'>
                    {{ v }}
                </span>
                <span @click='voting_for = null; update()'>
                    cancel
                </span>
            </div>
        </div>

        <div class='container'>
            <div v-if='viewing_user === null && voting_for === null'>
                <input v-model='search_str' placeholder='search country'>
                <span @click='search_str = ""'>
                    clear
                </span>
            </div>
            <table>
                <th v-if='logged_in && viewing_user !== null'>
                    voted by {{ viewing_user }}
                    <span @click='viewing_user = null; update()'>
                        clear
                    </span>
                </th>
                <tr v-for='item in filtered_ladder()' @click='set_country(item.country)'>
                    <td>{{ item.country.toUpperCase() }}</td>
                    <td>{{ item.score }}</td>
                </tr>
            </table>
        </div>
        {% endraw %}

    </div>
    <script type='text/javascript'>
        window.logged_in = {{ 'true' if name else 'false' }}
    </script>
    <script src='/static/js/vendor/fuzzysort.js'></script>
    <script src='/static/js/main.js'></script>
</body>
</html>
