<!doctype html>

<html lang='en'>
<head>
    <meta charset='utf-8'>

    <title>Eurohome</title>

    <link rel='stylesheet' href='/static/css/styles.css'>

    <!--[if lt IE 9]>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'>
        </script>
    <![endif]-->

</head>

<body>
    <form action='/api/public/register'>
        <input type='text' placeholder='username' name='name' required>
        <input type='text' placeholder='password' name='password' required>
        <button type='submit'>register</button>
    </form>
</body>
</html>
